################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Repop Companion/RCSite/TestPage.aspx.cs
/Repop Companion/RCSite/TestPage.aspx
