#PageWrapper
{
  /*
    Sets the total width for the entire page */

  width: 1000px;
  margin: auto;
}

header
{
    width: 1000px;
    height: 20px;
}

footer
{
  /*
    The footer is positioned below all other content (yet still within PageWrapper).
    clear: both is used to clear the impact of the float properties used for #MainContent and #Sidebar.
  */
  width: 844px;
  clear: both;
  height: 37px;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 37px;
}

.MainMenu 
{
    width: 1000px;
    border: 1px solid #999999;
    width: 814px;
    height: 19px;
}

.MainMenu ul li
{
    text-decoration-style: initial;
}

ul.level1
{
    /* Defines the appearance of main menu items.*/
    font-size: 14px;
    font-weight: bold;
    height: 19px;
    line-height: 19px;
}

ul.level1 .selected
{
    /* Defines the appareance of active menu items.*/
    background-color: lightgrey;
}

a.level1
{
    /* Adds some white space to the left ofhte main menu item text.
        !important is used to overrule the in-line CSS that the menu generates */
    padding-left: 5px !important;
}

a.level1:hover, a.level2:hover
{
    /* Defines the hover style for the main and sub items. */
    background-color: lightgrey;
}

.SectionWrapper
{
    width: 1000px;
    float: left;
}

.CollapsePanelHeader 
{
    width: 1000px;
    height: 30px;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}

h3
{
    text-align: center;
}

.Banner
{
    width: 900px;
    margin-bottom: 5px;
}

.ColumnHeader
{
    font-weight: bold;
    text-align: center;
}

.NoLinkStyle
{
    text-decoration-style: initial;
    color: black;
}

.NoWrap
{
    white-space: nowrap;
}

.CardMain
{
    text-align: center;
    margin: 5px;
    width: 320px;
    height: 80px;
    float: left;
}

.CardTitle
{
    font-size: large;
    font-weight: bold;
    color: black;
}

.CardDescription
{
    font-size: small;
}

.DifficultyTable td
{
    width: 110px;
}