.Armor.Crafting
{
    background-color: lightgoldenrodyellow;
}

.Artillery
{
    background-color: aquamarine;
}

.Carpentry
{
    background-color: rosybrown;
}

.Chemistry
{
    background-color: mediumpurple;
}

.Cosmetic.Styling
{
    background-color: cadetblue;
}

.Culinary.Arts
{
    background-color: thistle;
}

.Cybernetics
{
    background-color: orangered;
}

.Disguise
{
    background-color: coral;
}

.Firearms
{
    background-color: cornflowerblue;
}

.First.Aid
{
    background-color: indianred;
}

.Fishing
{
    background-color: deepskyblue;
}

.Foraging
{
    background-color: lawngreen;
}

.Genetic.Engineering
{
    background-color: lightpink;
}

.Hacking
{
    background-color: lightgrey;
}

.Installations
{
    background-color: darkgrey;
}

.Logging
{
    background-color: sandybrown;
}

.Melee.Weapons.Crafting
{
    background-color: yellow
}

.Metalworking
{
    background-color: olivedrab;
}

.Mining
{
    background-color: darkgoldenrod;
}

.Pharmaceuticals
{
    background-color: limegreen;;
}

.Robotics
{
    background-color: gold;
}

.Survival
{
    background-color: palevioletred;
}

.Tailoring
{
    background-color: darkseagreen;
}

.Trap.Knowledge
{
    background-color: orange;
}

.Vehicle.Engineering
{
    background-color: violet;
}

.Veterinary.Medicine
{
    background-color: lightgreen;
}